/* INICIO CODE */
body{
	background-image: url("../img/bg-smartphones.jpg");
	background-position: left top;
	background-attachment: fixed; /*nao rola*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
header{
	background-color: rgba(000, 000, 000,0.7);
	padding: 10px 0 10px 0;
	width: 100%;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 30px;
	text-align:center;
	display: block;
}
.fa{
	padding-left: 5px;
}
.fa:hover{
	color: gold;
}

#btn{
	margin-top: 150px;
	text-align: center;
}
.btn-a{
	display: block;
	margin-bottom: 50px;

}
.btn-b{
	display: block;
}
a.a-btn{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 40px;
	border: solid 1px white;
	background-color: rgba(000, 000, 000,0.7);
	padding: 10px; 
	text-decoration: none;
}

a:active{
	color: black;
	background-color: rgba(255, 255, 255,0.7)
}
a:hover{
	color: gray;
}
footer{
 	background-color: rgba(000, 000, 000,0.7);
    position:absolute;
    bottom:0; 
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center; 
}
.fter{
	padding: 0px 10px 0px 10px;
}
a.a-footer{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: white;
	border: solid 1px white;
	padding: 3px 5px 3px 5px;
}
/*
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
*/
